<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% cache 31536000 registration_form_page LANGUAGE_CODE %}
    {% block top_panel %}
        <li class="nav-item active">
            <a href="{% url 'index' %}" class="nav-link">{% translate 'Home page' %}</a>
        </li>
    {% endblock top_panel %}
    {% block header %}
        {% translate 'Sign up' %}:
    {% endblock header %}
    {% block content %}
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% if field.auto_id != 'id_role' %}
                    {{ field.label_tag }}<br>
                    {{ field }}<br>
                    {{ field.errors }}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <input type="submit" value="{% translate 'Sign up' %}" class="btn btn-primary mt-3">
        </form>
    {% endblock content %}
{% endcache %}
</html>