<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
<!-- 31536000 = one year, it doesn't change -->
{% cache 31536000 registration_form_page %}
    {% block top_panel %}
        <button onclick="location.href='{% url 'index' %}'">{% translate 'Home page' %}</button>
    {% endblock top_panel %}
    {% block header %}
        {% translate 'Sign up' %}:
    {% endblock header %}
    {% block content %}
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% if field.auto_id != 'id_role' %}
                    {{ field.label_tag }}<br>
                    {{ field }}<br>
                    {{ field.errors }}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <input type="submit" value="{% translate 'Sign up' %}">
        </form>
    {% endblock content %}
{% endcache %}
</html>