<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
<!-- 31536000 = one year, it doesn't change -->
{% cache 31536000 login_page %}
    {% block top_panel %}
        <button onclick="location.href='{% url 'index' %}'">{% translate 'Home page' %}</button>
    {% endblock top_panel %}
    {% block header %}
        {% translate 'Log in:' %}
    {% endblock header %}
    {% block content %}
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}<br>
            {% endif %}
            {% for field in form %}
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {{ field.errors }}
            {% endfor %}
            <input type="submit" value="{% translate 'Log in' %}">
        </form>
        <a href="{% url 'password_reset' %}">{% translate 'password recovery' %}</a>
    {% endblock content %}
{% endcache %}
</html>