<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
{% load crispy_forms_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% cache 31536000 login_page LANGUAGE_CODE %}
    {% block top_panel %}
        <li class="nav-item active">
            <a href="{% url 'index' %}" class="nav-link">{% translate 'Home page' %}</a>
        </li>
    {% endblock top_panel %}
    {% block header %}
        {% translate 'Log in' %}:
    {% endblock header %}
    {% block content %}
        <form method="post" class="mb-2">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">{% translate 'Log in' %}</button>
        </form>
        <a href="{% url 'password_reset' %}">{% translate 'password recovery' %}</a>
    {% endblock content %}
{% endcache %}
</html>