<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
<!-- 31536000 = one year, it doesn't change -->
{% cache 31536000 password_change_page %}
    {% block top_panel %}
        <li class="nav-item active">
            <a href="{% url 'index' %}" class="nav-link">{% translate 'Home page' %}</a>
        </li>
    {% endblock top_panel %}
    {% block header %}
        {% translate 'Change password' %}:
    {% endblock header %}
    {% block content %}
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}<br>
            {% endif %}
            {% for field in form %}
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {{ field.errors }}
            {% endfor %}
            <input type="submit" value="{% translate 'Change password' %}" class="btn btn-primary mt-3">
        </form>
    {% endblock content %}
{% endcache %}
</html>