<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% cache 31536000 password_reset_page LANGUAGE_CODE %}
    {% block top_panel %}
        <li class="nav-item active">
            <a href="{% url 'index' %}" class="nav-link">{% translate 'Home page' %}</a>
        </li>
    {% endblock top_panel %}
    {% block header %}
        {% translate 'Reset password' %}:
    {% endblock header %}
    {% block content %}
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}<br>
            {% endif %}
            {% for field in form %}
                <section class="mt-1 mb-2">{{ field.label_tag }}</section>
                <section class="mb-2">{{ field }}</section>
                {{ field.errors }}
            {% endfor %}
            <input type="submit" value="{% translate 'Reset password' %}" class="btn btn-outline-primary mt-1">
        </form>
    {% endblock content %}
{% endcache %}
</html>