<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
<!-- 31536000 = one year, it doesn't change -->
{% cache 31536000 profile_page %}
    {% block top_panel %}
        <li class="nav-item active">
            <a href="{% url 'index' %}" class="nav-link">{% translate 'Home page' %}</a>
        </li>
        <li class="nav-item active">
            <a href="{% url 'create_media' %}" class="nav-link">{% translate 'Add new media' %}</a>
        </li>
        <li class="nav-item active">
            <a href="{% url 'password_change' %}" class="nav-link">{% translate 'Change password' %}</a>
        </li>
        <li class="nav-item active">
            <a href="{% url 'logout' %}" class="nav-link">{% translate 'Log out' %}</a>
        </li>
        {% if is_user_moderator %}
            <li class="nav-item active">
                <a href="{% url 'moderator_page' get_next_task='False' from_view_media_page='False' %}" class="nav-link">{% translate 'Moderator page' %}</a>
            </li>
        {% endif %}
    {% endblock top_panel %}
    {% block header %}
        Profile header!
    {% endblock header %}
    {% block content %}
        Profile content!
    {% endblock content %}
{% endcache %}
</html>