<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
<!-- 31536000 = one year, it doesn't change -->
{% cache 31536000 home_page %}
    {% block top_panel %}
        {% if user.is_authenticated %}
            <button onclick="location.href='{% url 'profile' %}'">{% translate 'Profile' %}</button>
            <button onclick="location.href='{% url 'create_media' %}'">{% translate 'Add new media' %}</button>
        {% else %}
            <button onclick="location.href='{% url 'login' %}'">{% translate 'Log in' %}</button>
            <button onclick="location.href='{% url 'django_registration_register' %}'">{% translate 'Sign up' %}</button>
        {% endif %}
    {% endblock top_panel %}
    {% block header %}
        Hello!
    {% endblock header %}
    {% block content %}
        It's sky library!!
    {% endblock content %}
{% endcache %}
</html>