<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
{% load crispy_forms_tags %}
<!-- 31536000 = one year, it doesn't change -->
{% cache 31536000 create_media_page %}
    {% block top_panel %}
        <li class="nav-item active">
            <a href="{% url 'profile' %}" class="nav-link">{% translate 'Profile' %}</a>
        </li>
        <li class="nav-item active">
            <a href="{% url 'index' %}" class="nav-link">{% translate 'Home page' %}</a>
        </li>
    {% endblock top_panel %}
    {% block header %}
        {% translate 'Create your media' %}!
    {% endblock header %}
    {% block content %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">{% translate 'Submit' %}</button>
        </form>
    {% endblock content %}
{% endcache %}
</html>