<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<!-- 31536000 = one year, it doesn't change -->
{% cache 31536000 create_media_page %}
    {% block header %}
        {% translate 'your media has been successfully created and submitted for moderation!' %}
    {% endblock header %}
    {% block content %}
        <button onclick="location.href='{% url 'index' %}'">{% translate 'Home page' %}</button>
    {% endblock content %}
{% endcache %}
</html>