<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/update_media.css' %}">
{% endblock head_extra %}
{% block top_panel %}
    <li class="nav-item active">
        <a href="{% url 'profile' %}" class="nav-link">{% translate 'Profile' %}</a>
    </li>
    <li class="nav-item active">
        <a href="{% url 'index' %}" class="nav-link">{% translate 'Home page' %}</a>
    </li>
{% endblock top_panel %}
{% block header %}
    {% translate 'Update your media' %}!
{% endblock header %}
{% block content %}
    <form method="post" enctype="multipart/form-data" id="form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% translate 'Submit' %}</button>
    </form>
{% endblock content %}
{% block scripts %}
    <script>
        // preparing for the next scripts
        let waiting_text_translated = '{% translate 'Waiting for a file' %}...';
        let uploading_text_translated = '{% translate 'Uploading the file' %}...';
        let uploaded_text_translated = '{% translate 'The file is uploaded, click submit to save' %}.';
        let error_text_translated = '{% translate 'Error, please try again or contact support' %}.';
    </script>
    <script src="{% static 'js/create_or_update_media.js' %}"></script>
{% endblock scripts %}
</html>