<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load i18n %}
<!-- 31536000 = one year, it doesn't change -->
{% cache 31536000 create_media_page %}
    {% block head_extra %}
        <link rel="stylesheet" href="{% static 'css/view_media.css' %}">
        <link rel="stylesheet" href="{% static 'css/rating.css' %}">
    {% endblock head_extra %}
    {% block top_panel %}
        <li class="nav-item active">
            <a href="{% url 'index' %}" class="nav-link">{% translate 'Home page' %}</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item active">
                <a href="{% url 'profile' %}" class="nav-link">{% translate 'Profile' %}</a>
            </li>
            <li class="nav-item active">
                <a href="{% url 'create_media' %}" class="nav-link">{% translate 'Add new media' %}</a>
            </li>
        {% endif %}
    {% endblock top_panel %}
    {% block header %}
        {{ media.title }}
    {% endblock header %}
    {% block content %}
        {% if media.cover %}
            <img src="{{ media.cover.url }}" class="float-right cover_image">
        {% endif %}
        <section class="list-group flex-row align-items-baseline">
            <section class="d-flex align-items-end rating mr-2">
                <section class="position-relative rating__stars_body">
                    <section class="position-absolute rating__stars"></section>
                </section>
                <section class="rating__value">
                    {{ media.get_rating }}
                </section>
            </section>
            {% get_current_language as LANGUAGE_CODE %}
            <ul class="list-group flex-row">
                {% for tag in media.tags.values %}
                    <li class="list-group-item bg-transparent small border-0 p-1">
                        {% if LANGUAGE_CODE == 'en-us' %}
                            <a data-toggle="tooltip" title="{{ tag.help_text_en_us }}" href="">#{{ tag.name_en_us }}</a>
                        {% elif LANGUAGE_CODE == 'ru' %}
                            <a data-toggle="tooltip" title="{{ tag.help_text_ru }}" href="">#{{ tag.name_ru }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="lead">
            {{ media.description }}
        </section>
        {% if user.is_authenticated %}
            <section class="mt-3">
                <a id="download_link" class="btn btn-primary" href="{{ media.file.url }}" download>
                    {% translate 'Download file' %}
                    <span class="small" id="downloads_number">
                        {{ media.get_downloads_number }}
                    </span>
                </a>
            </section>
        {% else %}
            <section class="mt-3 small">
                {% translate 'Downloads' %}: {{ media.get_downloads_number }}
            </section>
        {% endif %}
        <section class="small mt-4 mr-4">
            {% translate 'Author' %}: {{ media.author }}<br>
            {% translate 'Added by' %}: {{ media.user_who_added }}<br>
            {{ media.pub_date }}
        </section>
        {% if is_moderate %}
            <section class="border border-danger mt-5 d-inline-block pt-1 pb-1 pr-2 pl-2">
                <h5 class="text-center">{% translate 'Moderate' %}:</h5>
                <hr class="mt-2 mb-2 border-danger">
                <form method="post">
                    {% csrf_token %}
                    <section class="form-check">
                        <input class="form-check-input" type="radio" name="is_approve_radio" id="is_approve_radio_approve" value="approve">
                        <label class="form-check-label" for="is_approve_radio_approve">
                            {% translate 'Approve' %}
                        </label>
                    </section>
                    <section class="form-check">
                        <input class="form-check-input" type="radio" name="is_approve_radio" id="is_approve_radio_disapprove" value="disapprove" checked>
                        <label class="form-check-label" for="is_approve_radio_disapprove">
                            {% translate 'Disapprove' %}
                        </label>
                    </section>
                    <button class="btn btn-outline-primary m-2" id="approve_button">{% translate 'Confirm' %}</button>
                    <hr class="mt-2 mb-2 border-danger">
                    <section class="form-check">
                        <input class="form-check-input" type="radio" name="is_auto_next_task" id="is_auto_next_task_true" value="true" checked>
                        <label class="form-check-label" for="is_auto_next_task_true">
                            {% translate 'Auto new task' %}
                        </label>
                    </section>
                    <section class="form-check">
                        <input class="form-check-input" type="radio" name="is_auto_next_task" id="is_auto_next_task_false" value="false">
                        <label class="form-check-label" for="is_auto_next_task_false">
                            {% translate 'No auto new task' %}
                        </label>
                    </section>
                </form>
            </section>
        {% endif %}
    {% endblock content %}
    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script>
            // preparing for the next script
            const get_full_path = "{{ request.get_full_path }}"
            const csrf_token = "{{ csrf_token }}"
        </script>
        <script src="{% static 'js/view_media.js' %}"></script>
        <script src="{% static 'js/rating.js' %}"></script>
    {% endblock scripts %}
{% endcache %}
</html>