.cover_image {
    max-height: 35em;
    max-width: 35em;
}
.asteriskField {
    display: none;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: #00DCFF;
    border-radius: 50%;
    display: inline-block;
}
.vote-button {
    color: #00C7FF;
    height: 1em;
    cursor: pointer;
}
.vote-button:hover {
    color: #002AFF;
}
.vote-button-active {
    color: #002AFF;
}
.reply-button {
    color: #002AFF;
}
.reply-button:hover {
    font-weight: 400!important;
}
ion-icon {
    pointer-events: none;
}
.report-button {
    color: #002AFF;
}
.media-report-button {
    color: #002AFF;
}
