<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load cache %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block head_extra %} {% endblock head_extra %}
    <title>Sky library</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">{% block top_panel %}{% endblock top_panel %}</ul>
        </div>
    </nav>
    <h1>{% block header %}{% endblock header %}</h1>
    <div>{% block content %}{% endblock content %}</div>
    <!-- 31536000 = one year, it doesn't change -->
    {% cache 31536000 footer %}
        <footer class="small mt-4">
            {% translate 'Support' %}: <address style="display: inline;">TulNik0@yandex.ru</address>
        </footer>
    {% endcache %}
    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>