<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
<!-- 31536000 = one year, it doesn't change -->
{% cache 31536000 404_error_page %}
    {% block head %}
        <title>404 {% translate 'error' %}</title>
    {% endblock head %}
    {% block header %}
        404 {% translate 'error' %}
    {% endblock header %}
    {% block content %}
        {% translate 'Oops, page not found' %}
        <h2><button onclick="location.href='{% url 'index' %}'">{% translate 'Home page' %}</button></h2>
    {% endblock content %}
{% endcache %}
</html>