<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% cache 31536000 500_error_page LANGUAGE_CODE %}
    {% block head %}
        <title>500 {% translate 'error' %}</title>
    {% endblock head %}
    {% block header %}
        500 {% translate 'error' %}
    {% endblock header %}
    {% block content %}
        {% translate 'Oops, server error' %}
        <h2><button onclick="location.href='{% url 'index' %}'" class="btn btn-outline-primary">{% translate 'Home page' %}</button></h2>
    {% endblock content %}
{% endcache %}
</html>